---
const today = new Date();
---

<footer class="site-footer">
	<div>
		&copy; {today.getFullYear()} Вова Луценко
		&middot; <a href="mailto:vovalutsenko14@gmail.com">email</a>
		&middot; <a href="https://t.me/piofant" target="_blank" rel="noopener">telegram</a>
	</div>
</footer>
